.comments-bg{
    background-color: rgba(24, 24, 24, 1);
    height: 60vh;
    width: 100%;
}

.comments-bg h2{
    color: white;
    padding: 50px 0;
    font-size: 40px;
}

.main-projects h2 {
    font-size: 40px;
    font-weight: 600;
    line-height: 47px;
    color: rgba(255, 255, 255, 1);
    padding-top: 102px;
    padding-bottom: 46px;
}

@media screen and (max-width:767px){
    .comments-bg{
        height: 50vh;
    }

    .main-projects h2 {
        color: white;
        font-size: 32px;
        line-height: 37px;
        font-weight: 600;
        text-align: center;
        padding-bottom: 0;
    }

    .comments-bg h2{
        padding: 50px 10px;
    }
}