.about{
    padding: 150px 0;
}

.about-container {
    color: white;
    background-image: url(../../assets/about_bg.svg);
    background-size: contain;
    height: 70vh;
    width: 100%;
    background-position: right;
    margin: 30px 0;
}

.about-parent {
    display: flex;
    justify-content: center;
}

.about-card {
    height: 240px;
    width: 290px;
    background-color: rgba(19, 19, 19, 1);
    margin: 10px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
    padding: 0 40px;
    text-align: left;
}

.about-image-smaller img {
    width: 60px;
    height: 60px;
}

.about-card-data>img {
    width: 80px;
}

.about-card-data>h3 {
    width: 200px;
    font-size: 20px;
    padding-top: 15px;
}

.about-child-1 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.about-child-2 {
    display: flex;
    flex-direction: column;
}

.about-text {
    height: 240px;
    color: white;
    margin-top: 10px;
    margin-left: 25px;
    width: 590px;
}

.about-text h2 {
    width: 438px;
    font-family: 'Rubik', sans-serif;
    font-size: 40px;
    font-weight: 600;
    padding-bottom: 10px;
    line-height: 45px;
}

.about-text p {
    font-size: 18px;
    font-family: 'Rubik', sans-serif;
    font-weight: 300;
    color: rgba(201, 201, 201, 0.9);
    line-height: 28px;
    height: 105px;
    width: 468px;
}

.about-parent-mobile {
    display: none;
}

.about-container-mobile h2 {
    font-size: 32px;
    text-align: center;
}

.about-container-mobile p{
    font-size: 13px;
    text-align: center;
    padding-top: 20px;
}

.about-cards-mobile{
    overflow-x: auto;
    display: flex;
    width: 380px;
    align-items: center;
    margin: auto;
    padding-top: 50px;

}

@media screen and (max-width:767px) {
    .about-parent {
        display: none !important;
    }

    .about-parent-mobile {
        display: flex;
    }
}

@media screen and (max-width: 575px) {
    .about .about-card {
        background-color: rgba(212, 212, 212, 1%);
        backdrop-filter: blur(90px);
    }

    .about {
        padding-bottom: 77px;
    }
    
    .about-parent-mobile .about-container-mobile p {
        padding: 30px 30px;
    }
}